*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/
/.idea/runConfigurations.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/migrations.xml
/.idea/studiobot.xml
/.idea/appInsightsSettings.xml
/.idea/AndroidProjectSystem.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin
.kotlin/

# Credentials - Never commit these!
*.jks
*.keystore
