<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VIKA">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VIKA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep link handlers -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="info_program_jkn"
                    android:scheme="bpjskes" />
                <data
                    android:host="telehealth"
                    android:scheme="bpjskes" />
                <data
                    android:host="info_riwayat_pelayanan"
                    android:scheme="bpjskes" />
                <data
                    android:host="bugar"
                    android:scheme="bpjskes" />
                <data
                    android:host="new_rehap"
                    android:scheme="bpjskes" />
                <data
                    android:host="penambahan_peserta"
                    android:scheme="bpjskes" />
                <data
                    android:host="info_peserta"
                    android:scheme="bpjskes" />
                <data
                    android:host="sos"
                    android:scheme="bpjskes" />
                <data
                    android:host="info_lokasi_faskes"
                    android:scheme="bpjskes" />
                <data
                    android:host="perubahan_data_peserta"
                    android:scheme="bpjskes" />
                <data
                    android:host="pengaduan_layanan_jkn"
                    android:scheme="bpjskes" />
                <data
                    android:host="skrining_riwayat_kesehatan"
                    android:scheme="bpjskes" />
                <data
                    android:host="pendaftaran_pelayanan"
                    android:scheme="bpjskes" />
                <data
                    android:host="info_ketersediaan_tempat_tidur"
                    android:scheme="bpjskes" />
                <data
                    android:host="info_jadwal_tindakan_operasi"
                    android:scheme="bpjskes" />
                <data
                    android:host="info_iuran"
                    android:scheme="bpjskes" />
                <data
                    android:host="pendaftaran_auto_debit"
                    android:scheme="bpjskes" />
                <data
                    android:host="info_riwayat_pembayaran"
                    android:scheme="bpjskes" />
                <data
                    android:host="info_virtual_account"
                    android:scheme="bpjskes" />
                <data
                    android:host="minum_obat"
                    android:scheme="bpjskes" />
                <data
                    android:host="tren_penyakit_daerah"
                    android:scheme="bpjskes" />
                <data
                    android:host="antrean_online"
                    android:scheme="bpjskes" />
            </intent-filter>
        </activity>
    </application>

</manifest>